doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='A community of people who want to work better in Greenville, SC')
    meta(name='author', content='The talented folks at CoWork Greenville')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= _path
    != css()

  body
    block content

    != js()
